# Visual Studio files
.vs/
*.vsidx
*.vscache
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
Debug/
Release/

# NuGet packages
packages/

# SQLite files
*.sqlite
*.db

# Project evaluation files
**/ProjectEvaluation/
